body{background-color:#F7F7F7;text-align:center;font:1em Arial,sans-serif; }
p{margin-top:20px;}
hr{margin-left:20px;margin-right:20px;margin-top:;margin-bottom:auto;}
h1{margin-top:0px;}
.img1{width:250px;height:60px;}
.img2{width:100%;height:;400px;margin-top:60px;}
.crypto{background-color:white;margin-left:20px;margin-right:20px;border-radius:20px;margin-top:px;}
.help{background-color:;height:50px; margin-left:20px;margin-right:20px;border-radius:20px;}
.img3{width:100%; margin-left:px;margin-right:px; height:60px;}
.img4{width:100%;height:550px;}
.img5{width:100%;height:550px;}
.img6{width:100%;height:500px;}
.img7{width:100%;height:450px;}
.second{
 background-image: url("img8.jpeg");}
.img9{width:100%;height:300px;}
.third{background-color:#E4F9F5;margin-left:20px;margin-right:20px;border-radius:20px;}

.img10{width:100%;height:300px;}
.img11{width:100%;height:300px;}
.img15{width:100%;height:90px;}
.img16{width:100%;height:70px;}
.img17{width:100%;height:70px;}
.pic1{width:100%;height:500px;}
.pic2{width:100%;height:450px;}
.pic3{width:100%;height:450px;}
.pic4{width:100%;height:450px;}
.img11{width:100%; height:400px;}
.img12{width:100%; height:400px;}
.img13{width:100%; height:400px;}
.img14{width:100%; height:400px;}
.fifth{background-color:white; width:%;margin-left:30px;margin-right:30px;border-radius:40px;}
.one{width:90%;margin-left:20px; margin-right:30px;}
.two{width:90%;margin-left:20px; margin-right:30px;margin-top:0.1px;}
.three{width:90%;margin-left:20px; margin-right:30px;margin-top:0.1px;}
////////////:::::::::::
#gou{width:100000%;height:50px;}
.btc{width:40px;height:40px;margin-top:3px;}
.hey{width:100%;height:350px;}
.white{width:100px;height:50px;border:0px;}
.white1{width:50px;height:50px;border:0px;}
.white2{width:120px;height:50px;border:0px;}
.white3{width:80px;height:50px;border:0px;}
.white4{width:125px;height:50px;border:0px;}
.white5{width:90px;height:50px;border:0px;}
.add{margin-left:30px;}
#hello{text-align:center;}